html, body {
	height: 100%;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.cover-container {
	max-width: 42em;
}
.editor-container {
	max-width: 80em;
}

.indent {
	margin-left: 2em;
}

.inputEnder {
	min-width: 105px;
}

.input-group input[type="range"] {
	margin: auto;
	background-color: white;
	height: 38px;
}

.dim {
	color: #b9b9b9;
}

.error input[type="number"], .error input[type="radio"] {
	border-color: red;
	border-width: 2px;
}

.tab {
	width: 3em;
}
.divider {
	margin: 6px 2px;
}

/* Idle delay effect */
.danger {
	-webkit-box-shadow: inset 0px 0px 60px 4px #f45653;
	box-shadow: inset 0px 0px 60px 4px #f45653;
	-webkit-transition: -webkit-box-shadow 3s ease-in;
	transition: -webkit-box-shadow 3s ease-in;
	-o-transition: box-shadow 3s ease-in;
	transition: box-shadow 3s ease-in;
	transition: box-shadow 3s ease-in, -webkit-box-shadow 3s ease-in;
}
.danger-short {
	-webkit-box-shadow: inset 0px 0px 60px 4px #f45653;
	box-shadow: inset 0px 0px 60px 4px #f45653;
	-webkit-transition: -webkit-box-shadow 1.5s ease-out;
	transition: -webkit-box-shadow 1.5s ease-out;
	-o-transition: box-shadow 1.5s ease-out;
	transition: box-shadow 1.5s ease-out;
	transition: box-shadow 1.5s ease-out, -webkit-box-shadow 3s ease-out;
}
.blink_me {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/* Light and dark theme toggle */
.bg-dark .ck-editor__main {
	color: #FFFFFF !important;
}
.bg-dark .ck-editor__editable {
	background-color: #212529 !important;
}
.bg-light .ck-editor__main {
	color: #212529 !important;
}
.bg-light .ck-editor__editable {
	background-color: #FFFFFF !important;
}
/* Blurring mode */
.blurriest-text .ck-editor__editable, .blurrier-text .ck-editor__editable, .blurry-text .ck-editor__editable {
	color: transparent;
}
.bg-dark .blurriest-text .ck-editor__editable {
	text-shadow: 0 0 8px rgba(255,255,255,0.25);
}
.bg-dark .blurrier-text .ck-editor__editable {
	text-shadow: 0 0 6px rgba(255,255,255,0.38);
}
.bg-dark .blurry-text .ck-editor__editable {
	text-shadow: 0 0 5px rgba(255,255,255,0.5);
}
.bg-light .blurriest-text .ck-editor__editable {
	text-shadow: 0 0 8px rgba(33,37,41,0.25);
}
.bg-light .blurrier-text .ck-editor__editable {
	text-shadow: 0 0 6px rgba(33,37,41,0.38);
}
.bg-light .blurry-text .ck-editor__editable {
	text-shadow: 0 0 5px rgba(33,37,41,0.5);
}

/* Bootbox styling */
.bootbox {
	color: black;
}